<div class="wrapper">
  <div class="sideNave">
    <section>
      <p style="color: darkgoldenrod;">Linear </p>
      <p> Regression </p>
    </section>
    <ul>
      <li routerLink="">Feed Data</li>
      <li routerLink="reg">Calculate</li>
      <li routerLink="chat">ChatBot</li>
      <li routerLink="chart">Chart</li>
      <li routerLink="upImg">Upload Image</li>
      <li routerLink="canvas">Canvas</li>
      <li routerLink="eImg">Edit Image</li>
      <li routerLink="genImg">Generate Image</li>
    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>